main {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 100px;
}

header {
    margin: 100px 0px;
    text-align: center;
}

header>div>h1 {
    font-size: 50px;
}

.praktisk-info>h2 {
    text-align: center;
    font-size: 50px;
    margin-bottom: 70px;
}


.praktisk-info>ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-weight: 100;
    font-size: 25px;
    width: 80vw;
    gap: 30px;
    margin: 20px auto;
}

.praktisk-info>ul>li {
    background-color: var(--bg-color);
    padding: 40px 20px;
    border-radius: 4px;
}