/* 

     -- Standard --

*/

:root {
    --color: rgb(141, 115, 67);
    --bg-color: rgb(247, 247, 247);
}



/* Standar styling på section */

section {
    height: 650px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

section>.content {
    width: 80vw;
    padding: 30px;
    z-index: 2;
}

section>.content>h1 {
    font-size: 50px;
}

section>.content>h1>span {
    font-size: 60px;
    color: var(--color);
}

section>.content>p {
    display: block;
    line-height: 40px;
    padding: 5px 0px;
    margin-bottom: 20px;
    font-size: 20px;
}

section>.content>a {
    display: inline;
    font-size: 20px;
}

section>.images {
    position: relative;
    height: 300px;
    width: 300px;
    margin: 0px 60px;
}

section>.images>img {
    height: 290px;
    position: absolute;
    padding: 10px;
    box-shadow: 3px 3px 4px 4px rgba(0, 0, 0, 0.1);
    background-color: white;
    z-index: 1;
}

/* Styling for annen-hver section */

section:nth-child(2), section:nth-child(4) {
    background-color: var(--bg-color);
    flex-direction: row-reverse;
}

section:nth-child(2)>.content,
section:nth-child(4)>.content {
    text-align: end;
}

section:nth-child(2)>.content>p, section:nth-child(4)>.content>p {}



/* 

     -- Landing-section --

*/

.landing>.images>img:nth-child(1) {
    left: -450px;
    bottom: 40px;
    transform: rotate(-4deg);
}

.landing>.images>img:nth-child(2) {
    left: -250px;
    bottom: 80px;
    transform: rotate(2deg);
}

.landing>.images>img:nth-child(3) {
    left: -50px;
    bottom: 30px;
    transform: rotate(7deg);
}



/* 

     -- Booking-section --

*/


.booking>.images>img:nth-child(1) {
    top: -150px;
    left: 70px;
    transform: rotate(-9deg);
}

.booking>.images>img:nth-child(2) {
    top: 0px;
    left: 200px;
    transform: rotate(8deg);
}

.booking>.images>img:nth-child(3) {
    top: 200px;
    left: 40px;
    transform: rotate(-3deg);
}



/* 

     -- Meny-section --

*/

.meny>.images>img:nth-child(1) {
    left: -400px;
    top: 200px;
    transform: rotate(1deg);
}

.meny>.images>img:nth-child(2) {
    left: -200px;
    top: 180px;
    transform: rotate(-4deg);
}

.meny>.images>img:nth-child(3) {
    left: -50px;
    top: 150px;
    transform: rotate(-6deg);
}

.meny>.floating-img {
    position: absolute;
    height: 400px;
    top: -100px;
    left: 60vw;
}



/* 

     -- Accessibility-section --
*/

.accessibility>.images>img:nth-child(1) {
    left: -70px;
    top: 200px;
    transform: rotate(-9deg);
}

.accessibility>.images>img:nth-child(2) {
    left: 10px;
    bottom: 70px;
    transform: rotate(-2deg);
}

.accessibility>.images>img:nth-child(3) {
    left: 170px;
    top: 150px;
    transform: rotate(6deg);
}

.accessibility>.floating-img {
    position: absolute;
    height: 400px;
    top: -100px;
    left: 60vw;
}







/* 

     -- Topical-section --

*/