/* 

	Generell css styles. Koblet til alle HTML filer
	Setter standard styles og styler nav-baren på alle sidene.

	Vi har valgt å bruke lengre og mer spesifike selektorer ettersom det blir enkelere å utvide nettsiden med flere sider samt syntes vi det blir enklere å lese. En negativ konsekvens med dette er at selektorene blir lange, det tar lengre tid å utvikle og dersom endringer i htmlen blir gjort må vi endre på selektorene. 
*/

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

/* Variabler */
:root {
	--color: rgb(141, 115, 67);
	--bg-color: rgb(247, 247, 247);
}


/* Velger alle elementer */
* {
	font-family: "Montserrat", sans-serif;
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}


body {
	font-size: 20px;
}

/* Fjerner alle start stylene så det blir lettere å style de på vår måte */
li,
a,
button, input {
	all: initial;
	all: unset;
}

a {
	cursor: pointer;
	border-bottom: 2px dotted black;
	transition: color 200ms;
}

a:hover, a:focus {
	color: var(--color);
	border-bottom: 2px dashed var(--color);

}

body {
	cursor: default;
}

/* Vi bruker h1, h2, h3 og videre for at automatiske systemer og andre utviklere lett skal kunne skjønne layouten på siden og ikke for å endre font-sizen på headeren. */
h1, h2, h3 {
	font-size: 50px;
}


/* Navbar */

nav {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 80px;
	height: 80px;
	margin: 0px auto;
	padding: 0px 30px;
}


nav>a {
	border-bottom: none;
	transition: padding 200ms;
	color: black;
}

nav>a.active {
	border-bottom: 2px solid var(--color);
	color: var(--color);
	font-weight: 600;
}

nav>a:hover, nav>a:focus {
	text-decoration: none;
	padding-bottom: 5px;
	color: black;
	border-bottom: 1px solid black;
}

/* 
	Siden denne a.active:hover står under og er mer spesifik enn a:hover vil den bli prioritert og dermed vise border-bottom med den aktive fargen og 2px bredde
*/
nav>a.active:hover, nav>a.active:focus {
	color: var(--color);
	border-bottom: 2px solid var(--color);
}

footer {
	display: flex;
	justify-content: center;
	gap: 20px;
	padding: 100px 40px;
	background-color: var(--bg-color);
	margin-top: 50px;
}

footer>.links {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

footer>.open {
	max-width: 400px;

}

/* Styling for skjermer mindre enn 1000px bredde */
@media only screen and (max-width: 1000px) {
	nav {
		height: initial;
		gap: 30px;
		flex-wrap: wrap;
		font-size: 20px;
		margin-top: 50px;
	}

	nav>a:hover {
		text-decoration: none;
		padding-bottom: 0px;
		border-bottom: none;
	}

	h1, h2, h3 {
		font-size: 30px;
	}

	footer {
		flex-direction: column;
	}
}