main {
    display: grid;
    width: 90vw;
    margin: 0px auto;
    grid-template-columns: 1fr 3fr;
    gap: 30px;
}

header {
    text-align: center;
    margin: 100px 0px;
}

header>h1>span {
    color: var(--color);
}

main>.sidebar {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 20px;
    background-color: var(--bg-color);
    height: 500px;
    position: sticky;
    top: 50px;
}

main>.tekst {
    display: flex;
    flex-direction: column;
    gap: 100px;
    margin-bottom: 250px;
}

main>.tekst>div>p {
    line-height: 35px;
}

@media only screen and (max-width: 1300px) {
    main {
        display: flex;
        flex-direction: column;
    }

    main>.sidebar {
        position: static;
        height: initial;
    }

    main>.tekst>div>h2 {
        text-align: center;
    }
}