nav>a {
    z-index: 2;
}

.bg {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    transition: 200ms;
    display: none;
}

.bg:hover {
    background-color: rgb(210, 210, 210);
    cursor: pointer;
}

#color-boxes {
    margin: 0px auto;
    margin-top: 50px;
    height: 600px;
    width: 600px;
    display: grid;
    grid-template-areas:
        "red red blue"
        "green green blue"
        "purple orange orange";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    z-index: 2;
    color: white;
}

#color-boxes>div {
    transition: 200ms;
    z-index: 2;
}

#color-boxes>div>p {
    opacity: 0;
    display: none;
    transition: 200ms;

    font-size: 25px;
    line-height: 35px;
}

#color-boxes>div:nth-child(1) {
    grid-area: red;
    background-color: red;

}

#color-boxes>div:nth-child(2) {
    grid-area: green;
    background-color: green;
}

#color-boxes>div:nth-child(3) {
    grid-area: blue;
    background-color: blue;
}

#color-boxes>div:nth-child(4) {
    grid-area: purple;
    background-color: purple;
}

#color-boxes>div:nth-child(5) {
    grid-area: orange;
    background-color: orange;
    color: black;
}

#color-boxes>div:hover {
    transform: scale(1.1);
    z-index: 3;
}

#color-boxes>div.active {
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
    min-height: 70vh;
    padding: 50px;
    display: flex;
    align-items: center;
    z-index: 4;
}

#color-boxes>div.active>p {
    opacity: 1;
    display: inline;
}

.floating-text {
    text-align: center;
    margin-top: 20px;
    font-size: 25px;
    animation: Pulse 500ms ease-in-out alternate infinite;
    z-index: 61;
    color: black;
}

@keyframes Pulse {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.1);
    }
}