header {
    text-align: center;
    margin: 100px 0px;
}

header>h1>span {
    color: var(--color);
}

main>p {
    width: 65vw;
    margin-top: 100px;
    margin: 50px auto;
    line-height: 35px;
}