/* 

    Koblet till menu.html 
    Styling spesifik for menu-siden

*/

/* 

    -- Header-section --

*/

header {
    margin: 100px 0px;
    text-align: center;
    padding: 0px 10px;
}

header>h1>span {
    color: var(--color);
}


/* 

    -- Main-section --

*/

main {
    background-color: white;
    width: 80vw;
    margin: 0px auto;
    box-shadow: 0px 0px 20px 6px rgba(128, 128, 128, 0.291);
    padding: 100px;
}


.alle-menyer {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.alle-menyer>ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.alle-menyer>ul>li {
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.alle-menyer>ul>h1 {
    font-weight: 100;
    font-size: 35px;
    text-align: center;
    margin-bottom: 20px;
}

.alle-menyer>ul>li>p {
    font-size: 20px;
}

/* Matretten */
.produkt-info {
    display: flex;
    flex-direction: column;
    gap: 8px;

}

.produkt-info>h2 {
    font-size: 25px;
    color: var(--color);

}

.produkt-info>p {
    font-size: 20px;
}

/* Allergener */
.allergener {
    display: flex;
    gap: 5px;
}

.allergener>li>img {
    height: 30px;
}

.alle-menyer>ul>li>p {
    min-width: 70px;
}

@media only screen and (max-width: 900px) {
    main {
        padding: 50px 10px;
        width: 96vw;
    }

    .alle-menyer>ul {
        gap: 10px;
    }


    .alle-menyer>ul>li {
        gap: 15px;
    }

    .alle-menyer>ul>h1 {
        font-size: 25px;
    }


    .produkt-info>h2 {
        font-size: 25px;
    }

    .produkt-info {
        font-size: 15px;
    }

    .alle-menyer>ul>li>.pris {
        font-size: 20px;
    }
}